<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Patient Details</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <h2>Patient Details</h2>
  <div th:if="${updatedPatient}" class="alert alert-success">
    <p th:text="'Patient updated successfully. ID: ' + ${patient.id}"></p>
  </div>
  <div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
  </div>

  <table class="table">
    <tbody>
    <tr>
      <th>ID:</th>
      <td th:text="${patient.id}"></td>
    </tr>
    <tr>
      <th>First Name:</th>
      <td th:text="${patient.firstName}"></td>
    </tr>
    <tr>
      <th>Last Name:</th>
      <td th:text="${patient.lastName}"></td>
    </tr>
    <tr>
      <th>Date of Birth:</th>
      <td th:text="${#dates.format(patient.dateOfBirth, 'yyyy-MM-dd')}"></td>
    </tr>
    <tr>
      <th>Gender:</th>
      <td th:text="${patient.gender}"></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td th:text="${patient.address}"></td>
    </tr>
    <tr>
      <th>Phone Number:</th>
      <td th:text="${patient.phoneNumber}"></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <a th:href="@{/UI/patient/list}" class="btn btn-primary">Back to List</a>
      <a th:href="@{/UI/patient/update/{id}(id=${patient.id})}" class="btn btn-primary">Update</a>
      <a th:href="@{/UI/note/add(patId=${patient.id}, patient=${patient.firstName + ' ' + patient.lastName})}" class="btn btn-primary">Add Note</a>
      <a th:href="@{/UI/patient/delete/{id}(id=${patient.id})}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <h3>Notes</h3>
  <table class="table">
    <thead>
    <tr>
      <th>PatId</th>
      <th>Patient</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
      <td th:text="${note.patId}"></td>
      <td th:text="${note.patient}"></td>
      <td><pre th:text="${note.note}"></pre></td>
    </tr>
    </tbody>
  </table>
  <p th:if="${noNotesMessage}" th:text="${noNotesMessage}"></p>
  <h3>Report</h3>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>PatId</th>
      <th>ExpectedRisk</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${report}">
      <td th:text="${report.patId}"></td>
      <td th:text="${report.expectedRisk}"></td>
    </tr>
    </tbody>
  </table>
  <p th:if="${noReportMessage}" th:text="${noReportMessage}"></p>
</div>
</body>
</html>

